/**Serpando el scss en varias partes**/

.dias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 70px 70px 70px 70px;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul{
    list-style-type: none;
}
.año{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $font-family;
    letter-spacing: 3px;
}

.mes{
    border-top: solid 2px rgb(32, 32, 32);
    border-bottom: solid 2px rgb(32, 32, 32);
    padding: 10px 25px;
    width: 100%;
    background: #2f3847;

    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    .mes ul{
        margin: 0;
        padding: 0;
            .mes .anterior{
                float: left;
                padding-top: 10px;
                .mes .siguiente{
                    float: right;
                    padding-top: 10px;
                }
            }
        }
    }

.meses{
    margin: 0;
    padding: 10px 0;
    background-color: rgb(48, 47, 47);
}

.meses li{
    display: inline-block;
    width: 13.6%;
    color: whitesmoke;
    text-align: center;
}

.dias{
    padding: 30px 0;
    background: rgb(34, 34, 34);
    margin: 0;

    .dias li{
        list-style-type: none;
        display: inline-block;
        width: 13.6%;
        text-align: center;
        margin-bottom: 5px;
        font-size:15px;
        color: whitesmoke;
        display: grid; 
    }
}
.dia-hoy{
    background-color: #185549;
    padding: 5px;
}
.fecha-salida{
    background-color: #185549;
}