/*Fuentes externas*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
/*Fuentes interas*/
@font-face {
    font-family: monserrat;
    src: url(../assets/font/Montserrat-Thin.ttf);
}
/*Variables*/
$color-letras:color whitesmoke;
$font-family: 'Montserrat', sans-serif;

@import "_buttons"; 
@import "_calendar";

$colors-font: (
background-color: #243340,
second-bc: #2f3847,
color: whitesmoke,
f-family: 'Montserrat', 
);

.texto{
    background-color: map-get($colors-font, background-color );
    color: map-get($colors-font, light-green );
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body{
    background-color: #243340;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
.h1{
    background-color: #2f3847;
    color: $color-letras;
    font-family: $font-family;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dropdown{
    display: none;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
.menu{
    color: whitesmoke;
    height: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    background-color: #2f3847;
    margin: 0;
    border-bottom: solid 2px rgb(32, 32, 32);
    padding: 0;
}
nav{
    background-color: #2f3847;
}

#img0{
    margin: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
}
.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}
.img1{
    background-color: #2f3847;
    height: 300px;
    width: 240px;
    border: 7px solid #2f3847;
    border-radius: 10px;
    border-style: ridge;
    margin: 10px;
}
.Barra-p{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    margin: 50px;
    padding: 10px;
    background-color: #2f3847;
    border: solid 2px rgb(32, 32, 32);
}
.flex-container-n{
    background-color: #243340;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    margin: 0;

}

.flex-container-n > div{
    color: whitesmoke;
}

.caja-n{
    width: 240px;
    height: 300px;
    margin: 10px;

    display: flex;
    justify-content: space-around;
    text-align: center;
    text-justify: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-weight: 700;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 30px;
}
.evento-n{
    width: 240px;
    height: 300px;
    border: solid 5px #2f3847;
}
.barra-n{
    background-color: #243340;
    padding: 10%;
}
.titulo-n{
    text-align: center;
    padding-bottom: 20px;
}
.subtitulos-n{
    text-align: center;
    font-size: 25px;
}
.container-responsive-p{
width: 90%;
max-width: 1000px;
border-radius: 10px;
margin: auto;
margin-top: 10px;
margin-bottom: 10px;
padding: 10px;

font-size: 30px;
line-height: 30px;
text-align: center;

/*Activamos grid*/
display: grid;
/*defino la cantidad de columnas que va a tener mi grilla
Puede ser Fracciones (fr) Pixeles (px) o Porcentaje (%)*/
grid-template-columns: 500px 3fr 2fr;
/*defino la cantidad de filas que va a tener mi grilla*/
grid-template-rows: 400px 400px 400px;
column-gap: 10px;
row-gap: 10px;
/*eje horizontal: justify-items*/
/*eje vertical: align-items*/

/*Grid Áreas*/
grid-template-areas: 
"imagen texto precio"
"imagen texto precio"
"imagen texto precio"
}
.container-responsive-p > div,
.container-responsive-p .evento-p,
.container-responsive-p .juego-p,
.container-responsive-p .texto-p,
.container-responsive-p .precio-p{
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: #2f3847;
    border: solid 2px rgb(32, 32, 32);

    display: flex;
    justify-content: space-around;
}
.precio-p{
    display: flex;
    align-items: center;
}
.texto-p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: #2f3847;
    display: flex;
    align-items: center;
}
.promociones-games{
    border: solid 3px rgb(32, 32, 32);
    border-radius: 10px;
    width: 220px;
    height: 300px;
}
#problema-c{
    font-size: large;
    font-family: 'Montserrat', sans-serif;

}
.clasific{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0;
}
@mixin center-components{
    justify-content: center;
    align-items: center;
    text-align: center; 
}
.completar{
    @include center-components;
    margin: 10px;
    width: 300px;
    height: 30px;
}
.ayuda{
    @include center-components;
}
.container-responsive{
    width: 90%;
    max-width: 1000px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;


    font-size: 30px;
    line-height: 30px;
    text-align: center;

    /*Activamos grid*/
    display: grid;
    /*defino la cantidad de columnas que va a tener mi grilla
    Puede ser Fracciones (fr) Pixeles (px) o Porcentaje (%)*/
    grid-template-columns: 500px 3fr 2fr;
    /*defino la cantidad de filas que va a tener mi grilla*/
    grid-template-rows: 100px 400px 400px 400px;
    column-gap: 10px;
    row-gap: 10px;
    /*eje horizontal: justify-items*/
    /*eje vertical: align-items*/

    /*Grid Áreas*/
    grid-template-areas: 
    "evento evento evento"
    "imagen texto precio"
    "imagen texto precio"
    "imagen texto precio"
    ;

    grid-column-start: 1;
    grid-column-end: 4;
}

/*divs que están directamente adentro del class container*/
.container-responsive > div,
.container-responsive .evento,
.container-responsive .juego,
.container-responsive .texto,
.container-responsive .precio{
    display: block;
    padding: 20px;
    border-radius: 10px;
    background-color: #2f3847;
    border: solid 2px rgb(32, 32, 32);

    display: flex;
    justify-content: space-around;
}
.evento{
    margin: 10px;
    display: flex;
    text-align: center;
}
.precio{
    display: flex;
    align-items: center;
}
.index-games{
    border: solid 3px rgb(32, 32, 32);
    border-radius: 5px;
    width: 220px;
    height: 300px;
    display: flex;
    align-items: center;
}
.button-i{
    font-weight: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.texto{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background-color: #2f3847;
    display: flex;
    align-items: center;
}

/*Propiedades de los hijos GRIDS*/
.container-responsive .evento{
    background-color: #2f3847;
    color: whitesmoke;
    padding: 10px;
    grid-area: evento;
    text-align: start;
}

.container-c{
    width: 90%;
    border: 3px solid #243340;
    margin: auto;

    font-size: 30px;

    display: grid;
    justify-content: center;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 320px 320px 320px;
    gap: 100px;
    /*Áreas grid*/
    grid-template-areas: 
    "Imagén   Imagén   Imagén   Imagén"
    "Imagén   Imagén   Imagén   Imagén"
    "Imagén   Imagén   Imagén   Imagén"
    ;
}

.box-c{
    background-color: #243340;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.img-c{
    border: solid 10px #2f3847;
    cursor: pointer;
    height: 300px;
    width: 240px;
    margin: 10px;
    transition: height 2s, width 2s;

    animation-name: imagen-animacion;
    animation-iteration-count: 1s;
    animation-duration: 2s;
}
.img-c2{
    display: none;
    position: absolute;
    height: 300px;
    width: 240px;
    margin: 10px;
}
.img-c:hover{
    height: 320px;
    width: 256px;
    display: inline;
    cursor: pointer;
}

footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;

    border-top: solid 2px rgb(32, 32, 32);
    background-color: #2f3847;
    background-clip: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 115px;
}
.footer{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    font-weight: 600;
    text-align: center;
}
.img-f{
    width: 15px;
    height: 15px;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/*Para pantallas más chicas: Semantica*/
@media screen and (max-width:720px) {
    .meses li, .dias li {width: 13.1%;}
    }
    
@media screen and (max-width: 420px) {
    .meses li, .dias li {width: 12.5%;}
    .dias li .dia-hoy {padding: 2px;}
    }
    
@media screen and (max-width: 290px) {
    .meses li, .dias li {width: 12.2%;}
    }
/*Grids semantico*/
@media screen and (max-width: 768px) {
    .container-responsive{
    display: grid;
    font-size: 20px;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 100px 350px 350px 350px;
        grid-template-areas: 
        "evento  evento  evento"
        "imagen  texto  texto"
        "imagen  texto  texto"
        "imagen  texto  texto"
    ;
    }
    .container-responsive .texto{
        grid-column: 2/4;
        font-size: small;
        line-height: 20px;
    }
    .container-responsive .precio{
        display: none;
    }
    .index-games{
        width: 150px;
        height: 200px;
    }
}
@media screen and (max-width: 1024px) and (min-width:768px) {
    .container-responsive{
    display: grid;
    font-size: 20px;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-rows: 100px 350px 350px 350px;
        grid-template-areas: 
        "evento  evento  evento"
        "imagen  texto  precio"
        "imagen  texto  precio"
        "imagen  texto  precio"
    ;
    }
    .container-responsive .texto{
        font-size: medium;
        line-height: 20px;
    }

    .index-games{
        width: 150px;
        height: 200px;
    }
}
@media screen and (max-width: 768px) {
    .container-responsive-p{
    display: grid;
    font-size: 20px;
    grid-template-columns: 3fr 3fr 1fr;
    grid-template-rows: 100px 350px 350px 350px;
        grid-template-areas: 
        "imagen  texto  texto"
        "imagen  texto  texto"
        "imagen  texto  texto"
    ;
    }
    .container-responsive-p .texto-p{
    grid-column: 2/4;
    font-size: small;
    line-height: 20px;
    }
    .container-responsive-p .precio-p{
        display: none;
    }
    .promociones-games{
        width: 150px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 768px) {
    .container-responsive-p{
    display: grid;
        grid-template-areas: 
        "imagen texto precio"
        "imagen texto precio"
        "imagen texto precio"
    ;
    grid-template-columns: 3fr 4fr 1fr;
    grid-template-rows: 400px 400px 400px;
    } 
}
@media screen and (max-width: 1024px) {
    .container-responsive-p{
    display: grid;
        grid-template-areas: 
        "imagen texto precio"
        "imagen texto precio"
        "imagen texto precio"
    ;
    grid-template-columns: 3fr 5fr 1fr;
    grid-template-rows: 400px 400px 400px;
    } 
}
@media screen and (max-width:768px) {
    .Barra-p{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 5px;
        letter-spacing: 5px;
        padding: 10px;
        line-height: 20px;
    }
}  
@media screen and (max-width: 768px) {
    .container-c{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
        gap: 5px;
        grid-template-areas: 
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        ;
        grid-column-start: 1;
        grid-column-end: 3;
        
    }
    
}
@media screen and (max-width: 522px) {
    .container-c{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
        gap: 5px;
        grid-template-areas: 
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        "imagen"
        ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}
@media screen and (max-width: 1332px) and (min-width:768px) {
    .container-c{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
        gap: 5px;
        grid-template-areas: 
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        "imagen imagen"
        ;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
}        
@media screen and (max-width:768px) {
    .section{
        display: grid;
        margin: 25px;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "imagen imagen"
        "imagen imagen"
        ;
    }
    .img1{
        width: 95%;
        height: 80%;
        justify-content: space-around;
    }
    
}
@media screen and (max-width:1024px) and (min-width:768px) {
    .section{
        display: grid;
        margin: 25px;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-template-areas: 
        "imagen imagen"
        "imagen imagen"
        ;
    }
    .img1{
        width: 60%;
        height: 80%;
    }
    
}

@media screen and (max-width:768px) {
    .menu{
        margin: 10px;
        padding: 0px;
        text-align: center;
        background-color: #2f3847;
    }
    .list-item{
        display: none;
    }
    .dropdown{
        display: block;
        display: flex;
        justify-items: right;
    }
    .dropdown-item{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    h1{
        margin: 0;
        padding: 0;
        background-color: #2f3847;
    }
}
@media screen and (max-width:462px) {
    .areatexto{
        width: 80%;
    }
    
}
@media screen and (max-width:392px) {
    footer{
        height: 100px;
    }    
}